.dashboard {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  min-height: 100%;
  padding: 1.5rem;
  background-color: white;
}

.dashboardHeaderContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 0.75rem;
  width: 100%;
}

.dashboardTitle {
  font-size: 1.3rem;
  font-weight: 500;
  color: hsl(220, 13%, 18%);
}

.dashboardHeaderButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 0.4rem;
}

.secondaryBtn,
.primaryBtn {
  font-size: 0.9rem;
  color: hsl(220, 13%, 18%);
}

.primaryBtn {
  background-color: var(--color-primary);
  color: white;

  &:hover, &:focus {
    cursor: pointer;
    background-color: var(--color-primary-hover);
  }
}
