.boxGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  width: 100%;
}

.box {
  min-height: 22rem;
  background-color: #ffffff;
  border: 1px solid hsl(223, 10%, 87%);
  border-radius: 0.8rem;
}

@media (min-width: 768px) {
  .dashboard {
    padding: 2rem;
  }

  .boxGrid {
    grid-template-columns: repeat(3, 1fr);
  }

  .boxSpan2 {
    grid-column: span 2;
  }
}

.plusIcon {
  width: 1rem;
  height: 1rem;
}
